# Created by .ignore support plugin (hsz.mobi)
Supprimerait .gitignore
Supprimerait .idea/inspectionProfiles/
Supprimerait .idea/workspace.xml
Supprimerait public/images/
Supprimerait public/javascripts/
